
<h3>Add Page</h3><br>
<form method="post" action="" enctype="multipart/form-data">
    <div class="show_preview" >
        <div class="form-group">
            <label for="username">User Name</label>
            <input type="text" id="username" name="username" value="" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" value="" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" value="" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="task">Task</label>
            <textarea id="task" name="task" class="form-control" required></textarea>
        </div>
        <div class="form-group">
            <label for="image">Image(320х240)</label>
            <input type="file" id="image" name="image">
        </div>

        <div class="form-group">
            <label for="is_published">Publish?</label>
            <input type="checkbox" id="is_published" name="is_published" cheked="checked">
        </div>



        <input type="submit" class="btn btn-success" value="Submit">
        <button  type="button" id="preview" onclick="onClick()">Preview</button>
    </div>

    <div class="hide_preview" >
        <h1 id="preview_title"></h1>
        <p id="preview_task"></p>
        <p id="preview_username"></p>
        <p id="preview_email"></p>
        <button onclick="show_hide()">beck</button>

    </div>
    <style>
        .show_preview{
            display: block
        }
        .hide_preview{
            display: none
        }
    </style>

    <script>

    </script>

</form>